<div id="pageTitle">
    <h1>New Agenda</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @agenda.object %>"/>
        <table>
    		
    		  <tr>
    			  <td class="itemLabel">Titel: </td>
    			  <td class="itemValue"><input type="text" name="agenda[titel]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Date: </td>
    			  <td class="itemValue"><input type="text" name="agenda[date]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Type: </td>
    			  <td class="itemValue"><input type="text" name="agenda[type]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Text: </td>
    			  <td class="itemValue"><input type="text" name="agenda[text]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Image-s: </td>
    			  <td class="itemValue"><input type="text" name="agenda[image-s]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Image-l: </td>
    			  <td class="itemValue"><input type="text" name="agenda[image-L]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>