<div id="jqt">
	
	<div id="animations" class="current">
            
                
					<a class="slideup reverse" href="#home"><img src="/public/images/loading.png"/></a>
	
	</div>
	
	<div id="home" >
		<div class="toolbar"><a class="button slideup" id="infoButton" a href="Settings">Settings</a>
			<h1>Mijn Ahoy</h1>	
		<a class="button leftButton"  href="/app/Settings/logout" target="_self">Logout</a>
		</div>
		<div class="vertical-scroll">
			<div>
				
				<ul class="rounded">
				
					<li class="arrow"><a href="Product">Products</a></li>
					<li class="arrow"><a href="Navbar">Navbar</a></li>
					<li class="arrow"><a href="Product">Products</a></li>
					<li class="arrow"><a href="Product">Products</a></li>
					<li class="arrow"><a href="Product">Products</a></li>
					<li class="arrow"><a href="Product">Products</a></li>
					<li class="arrow"><a href="Product">Products</a></li>
					<li class="arrow"><a href="Product">Products</a></li>
					<li class="arrow"><a href="Product">Products</a></li>
				</ul>
				
			</div>
		</div>
		
	</div>
</div>