<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Mijn Ahoy</title>

		<% if System::get_property('platform') == 'APPLE' %>
			<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
            <link href="/public/css/webkit.css" type="text/css" rel="stylesheet"/>
			<link href="/public/css/iphone.css" type="text/css" rel="stylesheet"/>
		<% elsif System::get_property('platform') == 'Blackberry' %>
			<link href="/public/css/blackberry.css" type="text/css" rel="stylesheet"/>	
		<% elsif  System::get_property('platform') == 'ANDROID' %>
            <link href="/public/css/webkit.css" type="text/css" rel="stylesheet"/>
			<link href="/public/css/android.css" type="text/css" rel="stylesheet"/>
		<% else %>
			<link href="/public/css/windows_mobile.css" type="text/css" rel="stylesheet"/>
		<% end %>	
		
		
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <script src="/public/jqtouch/jquery.1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/jqtouch/jqtouch.transitions.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
	<script src="/public/extensions/jqt.scrolling.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "/public/jqtouch/jqtouch.css";</style>
    <style type="text/css" media="screen">@import "/public/themes/jqt/theme.css";</style>
	<style type="text/css" media="screen">@import "/public/extensions/scrolling.css";</style>

    <script type="text/javascript" charset="utf-8">
         var jQT = new $.jQTouch({
				slideSelector: '#jqt li a'
        });
		
		

        // Some sample Javascript functions:
             $(function(){
                jQT.addAnimation({
                    name: 'slide in reverse',
                    selector: '.pageback'
                });
				
				 jQT.addAnimation({
                    name: 'cube in reverse',
                    selector: '.cubein'
                });

            // Show a swipe event on swipe test
            $('#swipeme').addTouchHandlers().bind('swipe', function(evt, data){
                $(this).html('You swiped <strong>' + data.direction + '</strong>!');
                // alert('Swiped '+ data.direction +' on #' + $(evt.currentTarget).attr('id') + '.');
            });

            $('a[target="_blank"]').click(function(){
                if(confirm('This link opens in a new window.'))
                {
                    return true;
                }
                else
                {
                    $(this).removeClass('active');
                    return false;
                }
            });

            // Page transition callback events
            $('#pageevents').
                bind('pageTransitionStart', function(e, info){
                    $(this).find('.info').append('Started transitioning ' + info.direction + '&hellip; ');
                }).
                bind('pageTransitionEnd', function(e, info){
                    $(this).find('.info').append(' finished transitioning ' + info.direction + '.<br /><br />');
                });


            // AJAX with callback event
            $('#callback').
                bind('pageTransitionEnd', function(e, info){
                    if (info.direction == 'in' && $(this).data('loaded') != 'true')
                    {
                        $(this).
                            append($('<div>Loading &hellip;</div>').
                            load('ajax.html .info', function(){
                                $(this).parent().data('loaded', 'true');
                            }));
                    }
                });

            // Orientation callback event
            $('body').bind('turn', function(e, data){
                $('#orient').html('Orientation: ' + data.orientation);
            })
        });
    </script>
	 <style type="text/css" media="screen">
            #jqt.fullscreen #home .info {
                display: none;
            }
            div#jqt #about {
                padding: 100px 10px 40px;
                text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
                font-size: 13px;
                text-align: center;
                background: #161618;
            }
            div#jqt #about p {
                margin-bottom: 8px;
            }
            div#jqt #about a {
                color: #fff;
                font-weight: bold;
                text-decoration: none;
            }
        </style>
				
	</head>
	<body bgcolor="#b29635">
		<%= @content %>
	</body>
</html>

