<div id="jqt">
	
	<div id="cover" class="current">
		<a class="button cube" href="<%= url_for :action => :index %>" >Sluit</a>
		<a class="cube" href="<%= url_for :action => :index %>"><img src="/public/images/cover.png"/></a>
	</div>
	

</div>