
<div id="jqt">
	<div id="home" class="current">
		<div class="toolbar">    
			<h1>Product</h1>	
		</div>
		
		<div class="vertical-scroll">
			<div>
				<ul class="rounded">
					<% @products.each do |obj| %>
						
						<li class="arrow">
							<a href="<%= url_for :action => :show, :id => obj.object %>">
								<span class="title"><%= obj.brand %></span>
								<span class="disclosure_indicator"></span>
							</a>
						</li>
						
					<% end %>
				</ul>
			
			</div>
		</div>
		
	</div>
</div>